[submodule "openssl-0.9.8"]
	path = openssl-0.9.8
	url = git@github.com:openssl/openssl.git
	branch = OpenSSL_0_9_8
	ignore = dirty
[submodule "openssl-1.0.0"]
	path = openssl-1.0.0
	url = git@github.com:openssl/openssl.git
	branch = OpenSSL_1_0_0
	ignore = dirty
[submodule "openssl-1.1.0"]
	path = openssl-1.1.0
	url = git@github.com:openssl/openssl.git
	branch = OpenSSL_1_1_0
	ignore = dirty
